<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Slam</display-name>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>EspacePersonnel</display-name>
    <servlet-name>EspacePersonnel</servlet-name>
    <servlet-class>servlet.EspacePersonnel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EspacePersonnel</servlet-name>
    <url-pattern>/EspacePersonnel</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ConfirmerInscription</display-name>
    <servlet-name>ConfirmerInscription</servlet-name>
    <servlet-class>servlet.ConfirmerInscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmerInscription</servlet-name>
    <url-pattern>/ConfirmerInscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inscrire</display-name>
    <servlet-name>Inscrire</servlet-name>
    <servlet-class>servlet.Inscrire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscrire</servlet-name>
    <url-pattern>/Inscrire</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Candidater</display-name>
    <servlet-name>Candidater</servlet-name>
    <servlet-class>servlet.Candidater</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Candidater</servlet-name>
    <url-pattern>/Candidater</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListeEvaluation</display-name>
    <servlet-name>ListeEvaluation</servlet-name>
    <servlet-class>servlet.ListeEvaluation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeEvaluation</servlet-name>
    <url-pattern>/ListeEvaluation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnregistrerNotes</display-name>
    <servlet-name>EnregistrerNotes</servlet-name>
    <servlet-class>servlet.EnregistrerNotes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnregistrerNotes</servlet-name>
    <url-pattern>/EnregistrerNotes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListeNotes</display-name>
    <servlet-name>ListeNotes</servlet-name>
    <servlet-class>servlet.ListeNotes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeNotes</servlet-name>
    <url-pattern>/ListeNotes</url-pattern>
  </servlet-mapping>
  <servlet>

    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>actionController</servlet-name>
    <servlet-class>servlet.ActionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>actionController</servlet-name>
    <url-pattern>/actionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MettreAjourInfoUtilisateur</display-name>
    <servlet-name>MettreAjourInfoUtilisateur</servlet-name>
    <servlet-class>servlet.MettreAjourInfoUtilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MettreAjourInfoUtilisateur</servlet-name>
    <url-pattern>/MettreAjourInfoUtilisateur</url-pattern>
      </servlet-mapping>
	<servlet>
    <description></description>
    <display-name>StatistiquesEvaluation</display-name>
    <servlet-name>StatistiquesEvaluation</servlet-name>
    <servlet-class>servlet.StatistiquesEvaluation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatistiquesEvaluation</servlet-name>
    <url-pattern>/StatistiquesEvaluation</url-pattern>

  </servlet-mapping>
</web-app>