<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Slam</display-name>
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
		</jsp-property-group>
	</jsp-config>
	<servlet-mapping>
		<servlet-name>EspacePersonnel</servlet-name>
		<url-pattern>/EspacePersonnel</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description />
		<display-name>ConfirmerInscription</display-name>
		<servlet-name>ConfirmerInscription</servlet-name>
		<servlet-class>servlet.ConfirmerInscription</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EspacePersonnel</servlet-name>
		<servlet-class>servlet.EspacePersonnel</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConfirmerInscription</servlet-name>
		<url-pattern>/ConfirmerInscription</url-pattern>
	</servlet-mapping>
	<servlet>
		<description />
		<display-name>Inscrire</display-name>
		<servlet-name>Inscrire</servlet-name>
		<servlet-class>servlet.Inscrire</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Inscrire</servlet-name>
		<url-pattern>/Inscrire</url-pattern>
	</servlet-mapping>
	<servlet>
		<description />
		<display-name>ValidationFormulaire</display-name>
		<servlet-name>ValidationFormulaire</servlet-name>
		<servlet-class>servlet.ValidationFormulaire</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ValidationFormulaire</servlet-name>
		<url-pattern>/ValidationFormulaire</url-pattern>
	</servlet-mapping>
</web-app>