<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Slam</display-name>
    <servlet-mapping>
        <servlet-name>EspacePersonnel</servlet-name>
        <url-pattern>/EspacePersonnel</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description/>
        <display-name>ConfirmerInscription</display-name>
        <servlet-name>ConfirmerInscription</servlet-name>
        <servlet-class>servlet.ConfirmerInscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EspacePersonnel</servlet-name>
        <servlet-class>servlet.EspacePersonnel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfirmerInscription</servlet-name>
        <url-pattern>/ConfirmerInscription</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>Formulaire</display-name>
        <servlet-name>Formulaire</servlet-name>
        <servlet-class>servlet.Formulaire</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Formulaire</servlet-name>
        <url-pattern>/Formulaire</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>ValidationFormulaire</display-name>
        <servlet-name>ValidationFormulaire</servlet-name>
        <servlet-class>servlet.ValidationFormulaire</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidationFormulaire</servlet-name>
        <url-pattern>/ValidationFormulaire</url-pattern>
    </servlet-mapping>
</web-app>
