@CHARSET "UTF-8";

body {
	margin: auto;
	width: 1024px;
	background-color: #ccffbc;
	font-family: Garamond;
}

#titre{
	text-align: center;
}

table{
	font-family: Verdana;
	font-size: 15px;
	margin: auto;
}
.erreur {
  color: red;
}